body {
    font-family: Arial, serif;
    font-size: 85%;
    }

#upper_right_corner {
    position: absolute;
    top: 0;
    right: 0;
    child-align: left;
}

.redClass{
    color:red;
}

#addForm {
    font-family: Arial, serif;
    font-size: small;
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.linkClass{
    font-size: 70%
}

#addForm1 {
    font-family: Arial, serif;
    font-size: small;
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#addForm2 {
    font-family: Arial, serif;
    font-size: small;
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


#addForm:target {
    display: block;
}

#addForm1:target {
    display: block;
}

#addForm2:target {
    display: block;
}

.close {
    font-family: Arial, serif;
    font-size: small;
    display: inline-block;
    border: 1px solid #000000;
    color: #000000;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}

.borders {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
}

.table1 tr:not(:first-child) {
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.table1 tr:not(:first-child):hover {
    background-color: #ddd;
}

.mirage {
    display: none;
}
