body {
	z-index: 7;
}

* {
	box-sizing: border-box;
}

.separate_window {
	text-align: center;
	display: none;
	position: fixed;
	top: 350px;
	left: 300px;
	border: 3px solid #f1f1f1;
	z-index: 9;
	background-color: white;
	opacity: 1;
}

.form-container {
	max-width: 400px;
	padding: 20px;
	background-color: white;
}

.form-container .cancel {
	background-color: red;
}

.alarm {
	color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
